# Godot
.import/
.godot/
*.import
export_presets.cfg
project.user
.project

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# VSCode
.vscode/

# Node
node_modules/

# Temp
*.tmp
*.swp
MavLink/MavLink-Bridge/.git.disabled/
MavLink/MavLink-Bridge/__pycache__/
